<?xml version="1.1" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	   	http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	<!-- 自动扫描且只扫描@Controller -->
	<context:component-scan base-package="com.ishare.mall" annotation-config="true"/>
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<bean class="com.ishare.mall.center.utils.WebUtils"/>
	<mvc:annotation-driven>
		<!-- 自定义转换 -->
		<mvc:argument-resolvers>
			<bean class="com.ishare.mall.center.method.CurrentMemberMethodArgumentResolver"/>
			<bean class="com.ishare.mall.center.method.PageRequestMethodArgumentResolver"/>
		</mvc:argument-resolvers>
		<mvc:message-converters register-defaults="true">
			<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
			<bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- REST中根据URL后缀自动判定Content-Type及相应的View -->
	<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="ignoreAcceptHeader" value="true"/>
		<property name="defaultContentType" value="application/json"/>
		<property name="mediaTypes">
			<value>
				json=application/json
				xml=application/xml
			</value>
		</property>
	</bean>
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<!-- 定义JSP文件的位置 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/center/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL-->
	<mvc:default-servlet-handler/>

	<!-- 定义无需Controller的url<->view直接映射
	<mvc:view-controller path="/a" view-name="/system/index"/>
	-->
	<!-- 将Controller抛出的异常转到特定View, 保持SiteMesh的装饰效果 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="org.apache.shiro.authz.UnauthorizedException">error/403</prop>
				<prop key="java.lang.Throwable">error/500</prop>
            </props>
		</property>
    </bean>

	<bean class="com.ishare.mall.center.handler.exception.DefaultExceptionHandler"/>
	<!-- 添加上传文件支持 -->
 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="UTF-8"/>  
        <property name="maxUploadSize" value="1048576"/>  
  </bean>
 	<import resource="shiro/spring-mvc-shiro.xml"/>
    <!-- 自定义拦截链配置
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*/*/create"/>
            <mvc:mapping path="/*/*/delete/*"/>
            <mvc:mapping path="/*/*/update"/>
            <bean class="LogInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
	-->
	<!--枚举类型自动转换-->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="org.springframework.core.convert.support.StringToEnumConverterFactory"/>
			</set>
		</property>
	</bean>
</beans>
