body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:994px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:121px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:36px;
  width:910px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:893px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:910px;
  height:1px;
}
#u3 {
  position:absolute;
  left:280px;
  top:1790px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:390px;
  top:1790px;
  width:80px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:120px;
  top:1790px;
  width:150px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:400px;
  top:2100px;
  width:200px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:46px;
  width:984px;
  height:826px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:826px;
}
#u9 {
  position:absolute;
  left:2px;
  top:405px;
  width:980px;
  visibility:hidden;
  word-wrap:break-word;
}
