body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:60px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:60px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:16px;
  width:200px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:994px;
  top:22px;
  width:66px;
  height:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1070px;
  top:15px;
  width:100px;
  height:30px;
}
#u7_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:80px;
  visibility:hidden;
}
#u11_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:86px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:85px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  color:#000000;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:180px;
  top:60px;
  width:10px;
  height:1000px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:983px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1000px;
}
#u22 {
  position:absolute;
  left:43px;
  top:80px;
  width:118px;
  height:85px;
}
#u22_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u24 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u24_img.selected {
}
#u24.selected {
}
#u25 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u27 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u29 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u30 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u32 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u33 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:20px;
  top:60px;
  width:93px;
  height:20px;
}
#u35 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u36 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:43px;
  top:200px;
  width:118px;
  height:125px;
}
#u37_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u39 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u42 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u38_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u44 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u45 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u47 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u48 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u50 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u51 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:20px;
  top:80px;
  width:93px;
  height:20px;
}
#u53 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u54 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  visibility:hidden;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u56 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u57 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  visibility:hidden;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:190px;
  top:60px;
  width:996px;
  height:906px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:906px;
}
