# Eclipse
bin/
.classpath
.project
.metadata
.settings/
*/.settings/
*/.classpath
*/.project
*/bin/
**/logs/
logs/

# Intellij
.idea/
*.iml
*.iws
**/*.iml

# Mac
.DS_Store
**/.DS_Store

# Maven
log/
target/
**/target/


# Others
*.log
*.class
classes/
# upload
**/resources/upload
