body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:11px;
  top:65px;
  width:1039px;
  height:785px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:785px;
}
#u1 {
  position:absolute;
  left:2px;
  top:384px;
  width:1035px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:134px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:10px;
  top:36px;
  width:910px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:893px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:910px;
  height:1px;
}
