body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:845px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:110px;
  width:785px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:126px;
  width:48px;
  height:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:139px;
  width:214px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:44px;
  top:250px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:40px;
  top:279px;
  width:765px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:748px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:765px;
  height:1px;
}
#u9 {
  position:absolute;
  left:46px;
  top:316px;
  width:137px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:48px;
  top:366px;
  width:196px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:62px;
  top:410px;
  width:257px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:44px;
  top:459px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:27px;
  top:505px;
  width:257px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:100px;
  top:570px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:810px;
  top:30px;
  width:10px;
  height:10px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:641px;
  top:30px;
  width:163px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:163px;
  height:1px;
}
#u24 {
  position:absolute;
  left:73px;
  top:30px;
  width:10px;
  height:10px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:261px;
  top:30px;
  width:10px;
  height:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:411px;
  top:50px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:40px;
  top:50px;
  width:76px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:233px;
  top:50px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:601px;
  top:50px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:796px;
  top:50px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:92px;
  top:30px;
  width:163px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:163px;
  height:1px;
}
#u39 {
  position:absolute;
  left:275px;
  top:30px;
  width:163px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:163px;
  height:1px;
}
#u40 {
  position:absolute;
  left:442px;
  top:30px;
  width:10px;
  height:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:455px;
  top:30px;
  width:163px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:163px;
  height:1px;
}
#u43 {
  position:absolute;
  left:621px;
  top:30px;
  width:10px;
  height:10px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
