body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:95px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:36px;
  width:910px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:893px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:910px;
  height:1px;
}
#u3 {
  position:absolute;
  left:15px;
  top:56px;
  width:840px;
  height:922px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:30px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:831px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:30px;
  width:835px;
  height:604px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:604px;
}
#u7 {
  position:absolute;
  left:2px;
  top:294px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:634px;
  width:835px;
  height:36px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:831px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:670px;
  width:835px;
  height:247px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:247px;
}
#u11 {
  position:absolute;
  left:2px;
  top:116px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:17px;
  top:89px;
  width:812px;
  height:581px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:581px;
}
#u13 {
  position:absolute;
  left:2px;
  top:282px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:45px;
  top:744px;
  width:258px;
  height:64px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:64px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:45px;
  top:818px;
  width:755px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:738px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:755px;
  height:1px;
}
#u17 {
  position:absolute;
  left:50px;
  top:838px;
  width:100px;
  height:16px;
}
#u18 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19 {
  position:absolute;
  left:50px;
  top:864px;
  width:100px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:80px;
  top:890px;
  width:200px;
  height:22px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21_input:disabled {
  color:grayText;
}
#u22 {
  position:absolute;
  left:80px;
  top:922px;
  width:200px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:90px;
  top:1005px;
  width:100px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:230px;
  top:1005px;
  width:100px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
