body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:164px;
  width:846px;
  height:446px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:446px;
}
#u1 {
  position:absolute;
  left:378px;
  top:122px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:346px;
  top:645px;
  width:154px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:516px;
  top:645px;
  width:84px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:810px;
  top:30px;
  width:10px;
  height:10px;
  color:#000000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:641px;
  top:30px;
  width:163px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:163px;
  height:1px;
}
#u8 {
  position:absolute;
  left:73px;
  top:30px;
  width:10px;
  height:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:261px;
  top:30px;
  width:10px;
  height:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:411px;
  top:50px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:40px;
  top:50px;
  width:76px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:233px;
  top:50px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:601px;
  top:50px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:796px;
  top:50px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:92px;
  top:30px;
  width:163px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:163px;
  height:1px;
}
#u23 {
  position:absolute;
  left:275px;
  top:30px;
  width:163px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:163px;
  height:1px;
}
#u24 {
  position:absolute;
  left:442px;
  top:30px;
  width:10px;
  height:10px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:455px;
  top:30px;
  width:163px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:146px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:163px;
  height:1px;
}
#u27 {
  position:absolute;
  left:621px;
  top:30px;
  width:10px;
  height:10px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
